<h1>Edit a Task Item for <%= @task.goal.name %></h1>

<%= render partial: "error_messages", locals: { object: @task } %>

<%= form_for(@task) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Give your task a name:" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
