<h1>Signup</h1>

<%= render partial: "error_messages", locals: { object: @user } %>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username, "Username:" %><br />
    <%= f.text_field :username %>
  </div>

  <div class="form-group">
    <%= f.label :password, "Password:" %><br />
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
