<% if @goal.errors.any? %>
  <h2>The form contains <%= pluralize(@goal.errors.count, "error") %>:</h2>
    <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for(@goal) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Give your goal a name:" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="form-group<%= ' field_with_errors' if @goal.errors[:base].any? %>">
    <%= f.label :category_name, "Give your goal a category:" %><br />
    <%= f.text_field :category_name, list: "categories_autocomplete" %>
    <datalist id="categories_autocomplete">
      <% Category.all.each do |category| %>
        <option value="<%= category.name %>">
      <% end %>
    </datalist>
  </div>

  <div class="form-group">
    <%= f.label :summary, "Enter a description (optional):" %><br />
    <%= f.text_area :summary, rows: 4, cols: 50 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
