<h1 id="title"><%= @goal.name %></h1>

<p>
  <strong>category:</strong> <%= link_to @goal.category_name, category_path(@goal.category) %> | <strong>status:</strong> <%= @goal.status %> <small><%= goal_status_action_link(@goal)%></small><br>
  <strong>summary:</strong> <%= @goal.display_summary %>
</p>

<h2>Open Tasks</h2>
<ul>
  <%= render(partial: "tasks/incomplete_task", collection: @goal.incomplete_tasks, as: :task) || content_tag(:li, "No open tasks available") %>
</ul>

<h2>Completed Tasks</h2>
<ul>
  <%= render(partial: "tasks/completed_task", collection: @goal.completed_tasks, as: :task) || content_tag(:li, "No completed tasks available") %>
</ul>

<div class="links"><%= render_task_links_if_incomplete(@goal) %> <%= link_to "Delete this Goal", goal_path(@goal), method: :delete, data: { confirm: "Are you sure? Any associated tasks will be deleted as well" } %></div>
