<!DOCTYPE html>
<html>
  <head>
    <title>GoalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.alert %>
      <div class="alert"><strong><%= flash.alert %></strong></div>
    <% end %>

    <%= yield %>

    <div class="links">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :post %> |
        <%= link_to "User Profile", user_path(current_user) %>
      <% end %>
    </div>
  </body>
</html>
